.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 400px;
  height:400px;
  background-color: #3E4AB7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center
}
.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}
.inputPopup{
  display: flex;
  height: 8em;
  width: 100%;
  background:#3E4AB7;
  border: 1px solid #39E035;
}
.submitPopup{
  margin-top:20px;
  align-self: flex-end;
  border:none;
  background:#39E035;
  color: white;
  padding: 10px 20px;
  border-radius: 7px;

}
.d-none{
  display:none;
}
